@import "tailwindcss";

@theme {
  --perspective-1000: 1000px;
}

.perspective-1000 {
  perspective: var(--perspective-1000);
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
